.spacer{
    margin-top: 100px;
}

.label_photo{
  margin-top:20px;
}

.add_photo_label{
  margin-top: 20px;
}

.section{
    padding-top: 3px;
}

.sectionDisplay{
    padding-top: 3px;
}

h5{
  color:black;
}

.button_next{
  margin-top:20px;
}
