 <div class="ui right vertical sidebar labeled icon menu">

  <a class="item" routerLink="/board" routerLinkActive="active" (click)="closeSidenav()">
    <i class="teal dashboard icon"></i>
    Tableau de bord
  </a>

  <a class="item" routerLink="/moncompte" routerLinkActive="active" (click)="closeSidenav()">
    <i class="teal user icon"></i>
    Mon compte
  </a>

  <a class=" item" routerLink="/coffrefort" routerLinkActive="active" (click)="closeSidenav()">
    <i class="teal lock icon"></i>
    Mon coffre-fort
  </a>

  <a *ngIf="!user" class="item" (click)="closeSidenav(); toggleLogin()">
    <i class="teal power icon"></i>
       Se connecter
  </a>

   <a *ngIf="user" class="item" (click)="closeSidenav()">
    <i class="teal user icon"></i>
       {{user.user_mail}}
   </a>


  <a routerLink="/signup" *ngIf="!user" class="item" (click)="closeSidenav()">
      <i class="teal road icon"></i>
       S'inscrire
  </a>

   <a *ngIf="user" class="item" (click)="closeSidenav(); logout()">
      <i class="teal power icon"></i>
       Deconnexion
  </a>

</div>

  <div class="pusher">
    <div tracking-scroll (scrolled)="onScroll($event.value, 50)" class="ui top fixed menu secondary " [ngClass]= "{'five item' : isScrolled_50}">

    <a href="/" class="item active">
      <img class="ui tiny image" src="./assets/images/brand_logo.png">
    </a>
    <a *hideItSizes="{min:0,max:500}" class="item">
      <i class="help circle outline large icon"></i>
      Comment ça marche
    </a>
    <a *hideItSizes="{min:0,max:500}" class="item">
      FAQ
    </a>

      <div class="ui dropdown item" >
        <div *hideItSizes="{min:0,max:500}" class="text">Services</div>
        <div class="menu">
          <!--<div routerLink="/fileupload" class="item"><i class="cloud upload icon"></i>
              File Upload
          </div>-->
          <div routerLink="/coffrefort" routerLinkActive="active" class="item"><i class="protect icon"></i>Coffre fort</div>
          <div routerLink="/board" class="item"><i class="dashboard icon"></i>Dashboard</div>
        </div>
      </div>

    <div class="right menu">
      <div *ngIf="!user && !isScrolled_50" class="item">
        <a (click)="toggleLogin()" *hideItSizes="{min:0,max:768}" class="item">
        Se connecter
      </a>
      </div>

      <div *ngIf="user && !isScrolled_50" class="item">
        <a *hideItSizes="{min:0,max:768}" class="ui small basic button teal">
        <i class="icon user"></i>
          {{user.user_mail}}
      </a>
      </div>

      <div *hideItSizes="{min:0,max:768}"  class="item">
          <a routerLink="/signup" *ngIf="!user && !isScrolled_50" class="ui small button teal" >S'inscrire</a>
          <a  (click)="logout()" *ngIf="user && !isScrolled_50" class="ui small button teal" >Deconnexion</a>
      </div>
      <a *showItSizes="{min:0,max:768}" (click)="toggleSidebar()" class="item"><i class="icon sidebar"></i> </a>
    </div>

  </div>

  <div class="ui main ">

    <router-outlet></router-outlet>
    <!--<p *ngIf="!user">Not logged in</p>
    <p>{{message}}</p>-->
  </div>

     <!--<div class="section_before_footer">

     </div>-->
    <div class="ui page dimmer uno">
      <div class="content ">
        <div class="center">
          <div class="ui text container">
            <app-login (notify)="onNotify($event)"></app-login>
          </div>
        </div>
      </div>
    </div>

    <div class="ui container fluid">
      <app-footer></app-footer>
    </div>

  </div>
