<div class="ui text container">

  <form class="ui form" (ngSubmit)="registerUser(user)">

    <div class="field">
      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="user.user_mail" name="email" required placeholder="Email">
    </div>

    <div class="field">
      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)]="user.user_password" name="password" required placeholder="Password">
    </div>

    <button type="submit" class="ui button">S'inscrire</button>
  </form>

</div>
