<div class="ui tabular menu">
  <a class="item" [ngClass]="{'active': choixTabularMenu == 'Biens'}" (click)="toggleBiens()">
    Biens
  </a>
  <a class="item" [ngClass]="{'active': choixTabularMenu == 'Justifs'}" (click)="toggleJustifs()">
    Justificatifs
  </a>
  <div class="right menu">
    <div class="item">
      <button class="ui small basic button teal">
        <i class="teal lock icon"></i>
        Mon coffre fort
      </button>
    </div>
  </div>
</div>


 <div class="ui four link doubling stackable special cards container" *ngIf="choixTabularMenu == 'Biens'">

     <div class="card" *ngFor="let bien of biens; let i = index">

      <div class="blurring dimmable image">

       <div class="ui inverted dimmer">
           <div class="content">
          <div class="center">

            <div class="ui buttons">

            <div class="ui teal button" data-tooltip="Modifier">

              <i class="material-icons"> create </i>

              </div>

              <div class="ui teal button" data-tooltip="Justificatifs">

              <i class="material-icons">insert_drive_file</i>

              </div>

              <div class="ui teal button" data-tooltip="Supprimer" (click) ="deleteObject(bien.id); deleteOnView(i);">

              <i class="material-icons">delete</i>

              </div>

            </div>

          </div>
           </div>
        </div>

      <img src="./uploads/Biens/{{bien.imageurl}}">

  </div>


  <div class="content">

    <a class="header" MaDirective>{{bien.description}}</a>

    <div class="meta">

    </div>

    <div class="description">

      <div class="ui left aligned animated list">

        <div class="item">
           <a class="eltlist"> <i class="calendar icon"></i>Date d'achat: {{bien.dateachat}} </a>
        </div>

        <div class="item">

         <a class="eltlist"> <i class="euro icon"></i>Prix d'achat: {{bien.prixachat}} € </a>

        </div>

      </div>

   </div>




</div>

   <button class="ui button" (click)="showModal()">

       <i class="plus icon"></i>

    </button>

 </div>

 </div>



<div class="ui four link doubling stackable special cards container" *ngIf="choixTabularMenu == 'Justifs'">


     <div class="card" *ngFor="let justif of justifs; let i = index">

      <div class="blurring dimmable image">

       <div class="ui inverted dimmer">
           <div class="content">
          <div class="center">

            <div class="ui buttons">

            <div class="ui teal button" data-tooltip="Modifier">

              <i class="material-icons"> create </i>

              </div>

              <div class="ui teal button" data-tooltip="Justificatifs">

              <i class="material-icons">insert_drive_file</i>

              </div>

              <div class="ui teal button" data-tooltip="Supprimer" (click) ="deleteJustif(justif.id); deleteJOnView(i);">

              <i class="material-icons">delete</i>

              </div>

            </div>

          </div>
           </div>
        </div>

        <!--<embed [src]="justifsUrlSanitized[i].fileurl" width="500" height="500" type='application/pdf'>-->

  </div>


  <div class="content">

    <a class="header" MaDirective>{{justif.fileurl.split('.')[0]}}</a>

    <div class="meta">
      Fichier PDF
    </div>

    <div class="description">

      <div class="ui left aligned animated list">

        <div class="item">
           <a class="eltlist"> <i class="calendar icon"></i>Date de depot: {{justif.datedepot.split('T')[0]}} </a>
        </div>

        <div class="item">

         <a class="eltlist"> <i class="file icon"></i>Type: {{justif.type}}</a>

        </div>

      </div>

   </div>

    <pdf-viewer [src]="baseUrl + justif.fileurl" [render-text]="false"
                [page]="1"  [zoom]="1" [original-size]="false" style="display: block;"></pdf-viewer>

</div>

        <div class="extra content">
          <div class="ui two buttons">
            <button class="ui basic green button" (click)="showModal(justif.fileurl)">Document</button>
            <button class="ui basic red button" (click) ="deleteJustif(justif.id); deleteJOnView(i);">Supprimer</button>
          </div>
        </div>

 </div>

 </div>

        <div class="ui page dimmer pdf_file">
            <div class="content">
              <div class="center">
                <div class="row">
                  <embed [src]="safeUrl" width="600" height="500" type='application/pdf'>
                </div>
                <div class="row">
                  <button class="ui primary animated fade button" (click)="closeModal()">
                    <div class="visible content">Fermer</div>
                    <div class="hidden content"><i class="remove icon"></i></div>
                  </button>
                </div>
              </div>
            </div>
          </div>








<div class="buttonAction">

  <div class="ui circular large teal icon button" [@focusInput]='state'  (click)="toggleMove()">

       <i class="add large icon"></i>

</div>

</div>

<div class="actionsContainer">


<div class="Actions">

  <div class="ui circular large icon button"  data-tooltip="Ajouter un bien" data-position="left center" [@showAction3]='state'  routerLink="/ajoutProduit" routerLinkActive="active" >

     <i class="add square  icon"></i>


</div>

</div>



<div class="Actions">

  <div class="ui circular large icon button"  data-tooltip="Ajouter un justificatif" data-position="left center" [@showAction2]='state' routerLink="/ajoutJustifs" routerLinkActive="active">

     <i class="file pdf outline icon"></i>

</div>
</div>



<div class="Actions">

  <div class="ui circular large icon button"  data-tooltip="Supprimer des biens" data-position="left center"[@showAction1]='state'>

  <i class="trash icon"></i>

</div>

</div>

</div>









