<div class="spacer">
</div>


 <div class="spacer2">

</div>

<div class="ui one column centered stackable grid container ">

    <div class="four wide column"> 

 <div class="blurring dimmable image">

       <div class="ui inverted dimmer">
           
           <div class="content">
          <div class="center">

               <label for ="userProfilPicture">
            
              <div class="ui circular teal icon button" >


                <i class="material-icons">add_a_photo</i> 
            
              </div>

               </label>

          </div>
           </div>
       </div>

    <img class="ui small centered circular image" src="assets\images\user.jpg">

    <input type="file" id="userProfilPicture" accept="image/*" style="display:none" >

 </div>
</div>
</div>


  
<div class="ui one column centered stackable grid container ">

<div class="ten wide column"> 
            
<div class="ui clearing segment">
     
<form class="ui form" #form="ngForm">

<h2 class="ui teal dividing header" > Mes coordonnées </h2>


  <div class="field">

    <div class="two fields">
      <div class="field">
          <label> NOM </label>
            <input type="text" name="UserLastName" placeholder={{fakeUser.UserLastName}} [(ngModel)]="UserLastName" (keypress)="showButton1()">
      
      </div>
      <div class="field">
          <label> Prénom </label>
          <input type="text" name= "UserFirstName" placeholder={{fakeUser.UserFirstName}} [(ngModel)]="UserFirstName" (keypress)=showButton1() >
      
      </div>

    </div>
  </div>


  <div class="field">

      <label> Adresse </label>


      <div class="three fields">
      <div class="field">
        <input type="text" name="Adress" placeholder={{fakeUser.AdressNumber}}{{fakeUser.AdressLabel}}{{fakeUser.AdressLabelName}} [(ngModel)]="Adress" (keypress)=showButton1() >
      </div>
      <div class="field">
        <input type="number" name="AdressZIPcode" placeholder={{fakeUser.AdressZIPcode}} [(ngModel)]="AdressZIPcode" (keypress)=showButton1()>
      </div>
       <div class="field">
        <input type="text" name="AdressCity" placeholder={{fakeUser.AdressCity}} [(ngModel)]="AdressCity" (keypress)=showButton1()>
      </div>
    </div>


  </div>

  <div class="two fields">

    <div class="field">
        <label> Téléphone </label>

        <input type="tel" name="UserPhoneNumber" placeholder={{fakeUser.UserPhoneNumber}} [(ngModel)]="UserPhoneNumber" (keypress)=showButton1()>
    </div>

    <div class="field">

        <label> Date de naissance </label>

        <input type="text" name="UserBirthDate" placeholder={{fakeUser.UserBirthDate}} [(ngModel)]="UserBirthDate" (keypress)=showButton1()>
    </div>

  </div>

  <div class="field">

              <div class="ui left floated teal button"  *ngIf="isModified1" (click)="onSubmitInfos(form.value)"  [@button]> Valider </div>
              <div class="ui left floated teal button"  *ngIf="isModified1" [@button] > Annuler  </div>

  </div>



</form>

</div>


<div class="ui center clearing segment">

 <h2 class="ui teal dividing header"> Mes adresses </h2>

</div>



<div class="ui clearing segment">

    <form class="ui form" #form2="ngForm">

  <h2 class="ui teal dividing header"> Email </h2>

  <div class="field">

    <div class="two fields">
      <div class="field">
        <input type="text" required name="UserEmail" placeholder={{fakeUser.UserEmail}} [(ngModel)]="email" disabled>
      </div>
      <div class="field" *ngIf="!isModified2">

           <div class="ui right floated teal button" (click)="showEmailModification()"> Modifier </div>
      </div>
    </div>
  </div>

  <div class="two fields" *ngIf="isModified2">
  <div class="field">
      <input type="text" required name="newUserEmail" placeholder= "Votre nouvel email" [(ngModel)]="newUserEmail">
  </div>

  </div>

   <div class="two fields"  *ngIf="isModified2">
  <div class="field">
      <input type="text" required name="newUserEmailConfirm" placeholder= "Confirmer le nouvel email" [(ngModel)]="newUserEmailConfirm">
  </div>

  </div>

  <div class="two fields"  *ngIf="isModified2">

  <div class="field">
      <input type="text" required name="passwordCheck" placeholder="Mot de passe" [(ngModel)]="passwordCheck">
  </div>

  </div>


  <div class="two fields"  *ngIf="wrongPassword1" [@button]> 
      
   <div class="field">

    <div class="ui small negative message" >

     <div class="header">

     Le mot de passe entré est erroné !

    </div>

    </div>
    
      </div>

    </div> 


  <div class="field"  *ngIf="isModified2">

           {{responsePassword}}
        <div class="ui left floated teal button" (click)="onSubmitEmail(form2.value)" > Valider </div>
        <div class="ui left floated teal button" (click)="showEmailModification()" > Annuler  </div>
    

  </div>




</form>

</div>

<div class="ui center clearing segment">

 <form class="ui form" #form3="ngForm">

  <h2 class="ui teal dividing header"> Mot de passe </h2>

  <div class="field"  *ngIf = "changePasswordsuccess" [@button]> 
      
    <div class="ui small positive message"  >

     <div class="header">
      
         {{responsePassword}}
     
    </div>

    </div>

    
    </div>

  <div class="field">

    <div class="two fields">

      <div class="field">

      <input type="password" name=UserPassword placeholder=**********  *ngIf="!isModified3" disabled>

            </div> 
            

      <div class="field">
 
         <div class="ui right floated teal button" (click)="showPasswordModification()" *ngIf="!isModified3" > Modifier </div>

      </div>

    </div>

    <div class="two fields" *ngIf="isModified3"> 


      <div class="field">

             <input type="password" name=newUserPasswordConfirm placeholder="Mot de passe actuel"  [(ngModel)]="newUserPasswordConfirm" >          
        
      </div>

     </div>
      
       <div class="two fields"  *ngIf="wrongPassword2" [@button]> 
      
   <div class="field">

    <div class="ui small negative message" >

     <div class="header">

     Le mot de passe entré est erroné

    </div>

    </div>

      </div>

    </div> 



     <div class="two fields" *ngIf="isModified3">

      <div class="field">

             <input type="password" name=newUserPassword placeholder="Votre nouveau mot de passe"   [(ngModel)]="newUserPassword" >          
        
      </div>



     </div>

      <div class="two fields" *ngIf="isModified3">


      <div class="field">

             <input type="password" name=UserPasswordConfirm placeholder="Confirmer le nouveau mot de passe"  [(ngModel)]="UserPasswordConfirm" >          
        
      </div>

     </div>


  <div class="two fields"  *ngIf="!samePasswords" [@button]> 
      
   <div class="field">

    <div class="ui small negative message" >

     <div class="header">

     Les mots de passe ne correspondent pas !

    </div>

    </div>

      </div>

    </div> 

    


     <div class="field"  *ngIf="isModified3">

        <div class="ui left floated teal button" (click)="changePassword(form3.value)" > Valider </div>
        <div class="ui left floated teal button" (click)="showPasswordModification()" > Annuler  </div>

  </div>


    </div>
  
</form>


</div>





</div>




</div>





