<div class="spacer">
</div>


 <div class="spacer2">

</div>

<div class="ui one column centered stackable grid container" >

    <div class="four wide column">

 <div class="blurring dimmable image">

       <div class="ui inverted dimmer">

           <div class="content">
          <div class="center">

               <label for ="userProfilPicture">

              <div class="ui circular teal icon button" >


                <i class="material-icons">add_a_photo</i>

              </div>

               </label>

          </div>
           </div>
       </div>

    <img class="ui small centered circular image" src="./assets/images/user.png">

    <input type="file" id="userProfilPicture" accept="image/*" style="display:none" >

 </div>
</div>
</div>

<br/>

<div class="ui text container">
  <div class="centered row">
    <sui-progress  class="tiny indicating active" [value]="percentageProfile">Profil complété à {{percentageProfile}}%</sui-progress>
  </div>
</div>

<br/>

<div *ngIf="User !== undefined" class="ui one column centered stackable grid container ">

<div class="ten wide column">

  <div class="ui positive message" *ngIf="identityModified" [@button]>
    <div class="header">
      Vos informations ont bien été enregistrées.
    </div>
  </div>

<div class="ui clearing segment" *ngIf="!identityModified">

<h2 class="ui teal dividing header">Identité</h2>

      <div class="field">
        <sui-select  placeholder="{{User.UserGender}}" [isDisabled]="identityFieldsReadOnly" [(ngModel)]="UserGender">
                <sui-select-option value="Homme"></sui-select-option>
                <sui-select-option value="Femme"></sui-select-option>
        </sui-select>
      </div>

  <br/>

  <form class="ui form" #form="ngForm">

    <div class="two fields">
      <div class="field">
      <label>Job</label>
            <input type="text" name="UserJob" placeholder={{User.UserJob}} [(ngModel)]="UserJob"
                   [readonly]="identityFieldsReadOnly">
      </div>
      <div class="field">

        <label> Date de naissance </label>

        <input type="text" name="UserBirthDate" placeholder={{User.UserBirthDate}} [(ngModel)]="UserBirthDate"
               [readonly]="identityFieldsReadOnly">
    </div>
    </div>

  <div class="field">

    <div class="two fields">

      <input type="hidden" name="UserGender" [(ngModel)]="UserGender" [readonly]="identityFieldsReadOnly">

      <div class="field">
          <label>Nom</label>
            <input type="text" name="UserLastName" placeholder={{User.UserLastName}} [(ngModel)]="UserLastName"
            [readonly]="identityFieldsReadOnly">
      </div>

      <div class="field">
          <label>Prénom</label>
          <input type="text" name= "UserFirstName" placeholder={{User.UserFirstName}} [(ngModel)]="UserFirstName"
          [readonly]="identityFieldsReadOnly">
      </div>

    </div>
  </div>

  <div class="two fields">

    <div class="field" *ngFor="let phoneNumber of User.phoneNumbers; let i = index;">
        <label> Téléphone </label>
        <input type="tel" name="UserPhoneNumber"
               placeholder= "00{{User.phoneNumbers[i].PhoneNumberCountryPrefix}}{{User.phoneNumbers[i].PhoneNumber}}"
               [(ngModel)]="UserPhoneNumber" [readonly]="identityFieldsReadOnly">
    </div>

  </div>

  <div class="field">

              <div class="ui left floated teal button" (click)="onSubmitInfos(form.value)" [@button]
              *ngIf="isModified1 && UserJob !== undefined && UserGender !== undefined && UserFirstName !== undefined
&& UserLastName !== undefined && UserBirthDate !== undefined"> Valider </div>
              <div *ngIf="!isModified1 && (User.UserIdentityModifed !== true)" class="ui left floated teal button" (click)="toggleReadOnlyFields()" [@button] >Modifier</div>

  </div>

</form>

  <div class="ui warning message" *ngIf="isModified1" [@button]>
    <div class="header">
      Vous ne pourrez modifier ces informations qu'une seule fois !
    </div>
  </div>

</div>

  <div class="ui clearing segment">

<h2 class="ui teal dividing header">Contacts téléphoniques</h2>

    <button class="ui compact icon teal button" *ngIf="User.phoneNumbers.length < 2" (click)="toggleAddPhone()">
  <i class="add icon"></i>
</button>


    <br/>
    <br/>

    <div *ngIf="isModifiedPhone">
    <div class="field">
        <sui-select  placeholder="Type" [(ngModel)]="PhoneNumberTypeMobile">
                <sui-select-option value="Mobile"></sui-select-option>
                <sui-select-option value="Fixe"></sui-select-option>
        </sui-select>
      </div>

    <br/>

    <form class="ui form" #form_phone="ngForm">

    <div class="two fields">
      <input type="hidden" name="PhoneNumberTypeMobile" [(ngModel)]="PhoneNumberTypeMobile">

      <div class="field">
        <label>Préfixe</label>
        <input type="text" name="PhoneNumberCountryPrefix" [(ngModel)]="PhoneNumberCountryPrefix">
      </div>

      <div class="field">
        <label>Numéro</label>
        <input type="text" name="PhoneNumber" placeholder="X XX XX XX XX" [(ngModel)]="PhoneNumber">
    </div>
    </div>

  <div class="two fields">

    <div class="field" *ngFor="let phoneNumber of User.phoneNumbers; let i = index;">
        <label> Téléphone </label>
        <input type="tel" name="UserPhoneNumber"
               placeholder= "00{{User.phoneNumbers[i].PhoneNumberCountryPrefix}}{{User.phoneNumbers[i].PhoneNumber}}"
               [(ngModel)]="UserPhoneNumber" [readonly]="identityFieldsReadOnly">
    </div>

  </div>

      <div class="field">
              <div class="ui left floated teal button" (click)="onSubmitPhone(form_phone.value)" [@button]> Valider </div>
  </div>

</form>
    </div>

</div>

<div class="ui clearing segment" *ngIf="User.habitations.length === 0">

<form class="ui form" #form_habitation="ngForm">

<h2 class="ui teal dividing header" >Habitations</h2>

  <h4 class="ui teal dividing header">Logement</h4>


  <div class="field">
    <div class="three fields">

      <div class="field">
          <label>Numéro de chambre</label>
          <input type="text" name= "HabitationRoomNumber"  [(ngModel)]="HabitationRoomNumber">
      </div>

      <div class="field">
          <label>Numéro d'étage</label>
          <input type="text" name= "HabitationFloor"  [(ngModel)]="HabitationFloor">
      </div>

      <div class="field">
          <label>Numéro de porte</label>
          <input type="text" name= "HabitationDoorNumber"  [(ngModel)]="HabitationDoorNumber">
      </div>

    </div>
  </div>

  <div class="field">
    <div class="three fields">

      <div class="field">
          <label>Surface (m²)</label>
            <input type="text" name="HabitationSurface"  [(ngModel)]="HabitationSurface">
      </div>

    </div>
  </div>

  <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden" name="HabitationRoommate" [(ngModel)]="HabitationRoommate">
          <label>Je suis collocataire</label>
        </div>
  </div>

  <div class="field">
    <div class="three fields">
      <div class="field">
          <label>Nombre de collocataires</label>
            <input type="text" name="HabitationRoommateNumber" [(ngModel)]="HabitationRoommateNumber">
      </div>
    </div>
  </div>

  <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden" name="HabitationPrincipal" [(ngModel)]="HabitationPrincipal">
          <label>Ce logement est mon habitation principale</label>
        </div>
  </div>

  <h4 class="ui teal dividing header">Adresse</h4>

  <div class="field">

      <div class="three fields">
        <div class="field">
          <label>Numéro</label>
          <input type="text" name="AddressNumber" placeholder={{fakeUser.AddressNumber}} [(ngModel)]="AddressNumber" (keypress)=showButton1() >
        </div>
          <div class="field">
            <label>Libellé</label>
          <input type="text" name="AddressLabel" placeholder={{fakeUser.AddressLabel}} [(ngModel)]="AddressLabel" (keypress)=showButton1() >
        </div>
          <div class="field">
            <label>Nom</label>
          <input type="text" name="AddressLabelName" placeholder={{fakeUser.AddressLabelName}} [(ngModel)]="AddressLabelName" (keypress)=showButton1() >
        </div>
      </div>

    <div class="three fields">
      <div class="field">
        <label>Code Postal</label>
        <input type="number" name="AddressZIPcode" placeholder={{fakeUser.AddressZIPcode}} [(ngModel)]="AddressZIPcode" (keypress)=showButton1()>
      </div>
      <div class="field">
        <label>Ville</label>
        <input type="text" name="AddressCity" placeholder={{fakeUser.AddressCity}} [(ngModel)]="AddressCity" (keypress)=showButton1()>
      </div>
      <div class="field">
        <label>Pays</label>
        <input type="text" name="AddressCountry" placeholder={{fakeUser.AddressCountry}} [(ngModel)]="AddressCountry" (keypress)=showButton1()>
      </div>
    </div>


  </div>

  <div class="field">

              <div class="ui left floated teal button" (click)="onSubmitHabitation(form_habitation.value)"> Valider </div>
              <div class="ui left floated teal button"> Annuler  </div>

  </div>


</form>

</div>

<div class="ui clearing segment">
  <h2 class="ui teal dividing header">Moyens de paiement</h2>
</div>


<div class="ui clearing segment">

    <form class="ui form" #form2="ngForm">

  <h2 class="ui teal dividing header"> Email </h2>

  <div class="field">

    <div class="two fields">
      <div class="field">
        <input type="email" required name="UserEmail" placeholder={{User.user_mail}} [(ngModel)]="UserEmail" disabled>
      </div>
      <div class="field" *ngIf="!isModified2">

           <div class="ui right floated teal button" (click)="showEmailModification()"> Modifier </div>
      </div>
    </div>
  </div>

  <div class="two fields" *ngIf="isModified2">
  <div class="field">
      <input type="email" required name="newUserEmail" placeholder= "Votre nouvel email" [(ngModel)]="newUserEmail">
  </div>

  </div>

   <div class="two fields"  *ngIf="isModified2">
  <div class="field">
      <input type="email" required name="newUserEmailConfirm" placeholder= "Confirmer le nouvel email" [(ngModel)]="newUserEmailConfirm">
  </div>

  </div>

  <div class="two fields"  *ngIf="isModified2">

  <div class="field">
      <input type="password" required name="passwordCheck" placeholder="Mot de passe" [(ngModel)]="passwordCheck">
  </div>

  </div>


  <div class="two fields"  *ngIf="wrongPassword1" [@button]>

   <div class="field">

    <div class="ui small negative message" >

     <div class="header">

     Le mot de passe entré est erroné !

    </div>

    </div>

      </div>

    </div>


  <div class="field"  *ngIf="isModified2">

           {{responsePassword}}
        <div class="ui left floated teal button" (click)="onSubmitEmail(form2.value)" > Valider </div>
        <div class="ui left floated teal button" (click)="showEmailModification()" > Annuler  </div>


  </div>




</form>

</div>

<div class="ui center clearing segment">

 <form class="ui form" #form3="ngForm">

  <h2 class="ui teal dividing header"> Mot de passe </h2>

  <div class="field"  *ngIf = "changePasswordsuccess" [@button]>

    <div class="ui small positive message"  >

     <div class="header">

         {{responsePassword}}

    </div>

    </div>


    </div>

  <div class="field">

    <div class="two fields">

      <div class="field">

      <input type="password" name=UserPassword placeholder=**********  *ngIf="!isModified3" disabled>

            </div>


      <div class="field">

         <div class="ui right floated teal button" (click)="showPasswordModification()" *ngIf="!isModified3" > Modifier </div>

      </div>

    </div>

    <div class="two fields" *ngIf="isModified3">


      <div class="field">

             <input type="password" name=oldUserPassword placeholder="Mot de passe actuel"  [(ngModel)]="oldUserPassword" >

      </div>

     </div>

       <div class="two fields"  *ngIf="wrongPassword2" [@button]>

   <div class="field">

    <div class="ui small negative message" >

     <div class="header">

     Le mot de passe entré est erroné

    </div>

    </div>

      </div>

    </div>



     <div class="two fields" *ngIf="isModified3">

      <div class="field">

             <input type="password" name=newUserPassword placeholder="Votre nouveau mot de passe"   [(ngModel)]="newUserPassword" >

      </div>



     </div>

      <div class="two fields" *ngIf="isModified3">


      <div class="field">

             <input type="password" name=newUserPasswordConfirm placeholder="Confirmer le nouveau mot de passe"  [(ngModel)]="newUserPasswordConfirm" >

      </div>

     </div>


  <div class="two fields"  *ngIf="!samePasswords" [@button]>

   <div class="field">

    <div class="ui small negative message" >

     <div class="header">

     Les mots de passe ne correspondent pas !

    </div>

    </div>

      </div>

    </div>




     <div class="field"  *ngIf="isModified3">

        <div class="ui left floated teal button" (click)="onSubmitPassword(form3.value)" > Valider </div>
        <div class="ui left floated teal button" (click)="showPasswordModification()" > Annuler  </div>

  </div>


    </div>

</form>


</div>





</div>




</div>





