<div class="ui tabular menu">
  <div class="right menu">
    <div class="item">
      <button class="ui small basic button teal">
        <i class="teal dashboard icon"></i>
        Mon tableau de bord
      </button>
    </div>
  </div>
</div>

  <div class="ui three doubling stackable cards container">

    <div class="card" >

        <div class="content">

          <div class="left floated header">
            Mon patrimoine
          </div>
        </div>
      <div class="content">

            <div class="description">

              <div class="ui statistics">

                <div class="ui blue statistic">
                   <div class="value">
                        {{patrimoine}}
                       <i class=" blue euro icon"></i>
                      </div>

                      <div class=" label">
                        Patrimoine total
                      </div>
                 </div>

                 <div class=" ui orange statistic">
                   <div class="value">
                      1000
                       <i class="orange euro icon"></i>
                      </div>

                      <div class=" label">
                        Patrimoine assuré
                      </div>
                 </div>
              </div>
           </div>
        </div>
    </div>

    <div class="card">

      <div class="content">

          <div class="left floated header">
            Mes contrats en cours
          </div>
      </div>
      <div class="content">
        <div class="description">
          <div class="ui middle aligned selection list">
            <div class="item">
              <i class=" circle green aligned icon"></i>
              <div class="content">
                <div class="header">Contrat BNP Paribas</div>
                <div class="description">Actif</div>
              </div>
            </div>
            <div class="item">
              <i class=" circle green middle aligned icon"></i>
              <div class="content">
                <div class="header">Contrat AXA Assurance</div>
                <div class="description">Actif</div>
              </div>
            </div>
            <div class="item">
              <i class=" circle yellow middle aligned icon"></i>
              <div class="content">
                <div class="header">Contrat MMA</div>
                <div class="description">En pause</div>
              </div>
            </div>
            <div class="item">
              <i class=" circle red middle aligned icon"></i>
              <div class="content">
                <div class="header">Contrat Maif</div>
                <div class="description">Résilié</div>
              </div>
            </div>
          </div>
        </div>

        </div>


    </div>

     <div class="card">

       <div class="content">


          <div class="left floated header">
            Mes prochains prélèvements
          </div>
         <div class="meta"></div>
       </div>
       <div class="content">

          <div class="description">
            <div class="ui middle aligned selection list">
              <div class="item">
                <div class="right floated content">
                  <h2 class="ui sub header">
                    Montant
                  </h2>
                  <span>20€</span>
                </div>
                <i class=" large money middle aligned icon"></i>
                <div class="content">
                  <a class="header">Contrat BNP Paribas</a>
                  <div class="description">Prélèvement le 11/05/2017</div>
                </div>
              </div>
              <div class="item">
                <div class="right floated content">
                  <h2 class="ui sub header">
                    Montant
                  </h2>
                  <span>30€</span>
                </div>
                <i class="large money middle aligned icon"></i>
                <div class="content">
                  <a class="header">Contrat AXA Assurance</a>
                  <div class="description">Prélèvement le 13/05/2017</div>
                </div>
              </div>
              <div class="item">
                <div class="right floated content">
                  <h2 class="ui sub header">
                    Montant
                  </h2>
                  <span>15€</span>
                </div>
                <i class="large money middle aligned icon"></i>
                <div class="content">
                  <a class="header">Contrat MMA</a>
                  <div class="description">Prélèvement le 15/05/2017</div>
                </div>
              </div>
              <div class="item">
                <div class="right floated content">
                  <h2 class="ui sub header">
                    Montant
                  </h2>
                  <span>18€</span>
                </div>
                <i class="large money middle aligned icon"></i>
                <div class="content">
                  <a class="header">Contrat Maif</a>
                  <div class="description">Prélèvement le 17/05/2017</div>
                </div>
              </div>

            </div>
          </div>

        </div>

    </div>

     <div class="card">

       <div class="content">

          <div class="left floated header">
            Evolution de mon patrimoine
          </div>

            <canvas baseChart width="200" height="200"

                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                chartType="line">

            </canvas>

        </div>

    </div>

     <div class="card">

       <div class="content">

          <div class="left floated header">
            Analyse de mon patrimoine
          </div>

          <canvas baseChart width="200" height="200"
          [data]="pieChartData"
          [labels]="pieChartLabels"
          chartType="pie"></canvas>


        </div>

    </div>

     <div class="card">

       <div class="content">

         <div class="left floated header">

          Documents / contrats

          </div>

        </div>

    </div>

     <div class="card">

       <div class="content">

         <div class="left floated header">

              Mes ajouts récents

          </div>


        </div>

    </div>

  </div>
