<div class="ui tabular menu">
  <div class="right menu">
    <div class="item">
      <button class="ui small basic button teal">
        <i class="teal dashboard icon"></i>
        Mon tableau de bord
      </button>
    </div>
  </div>
</div>

  <div class="ui four doubling stackable cards container">

    <div class="card" >
        <div class="content">
          <div class="left floated header">
            Mon patrimoine
          </div>

        </div>

          <div class="extra content">
            <div class="ui statistics">
                <div class="teal statistic">
                   <div class="value">
                         {{patrimoine}}
                     <i class=" teal euro icon"></i>
                   </div>
                 </div>
              </div>
          </div>
    </div>

    <div class="card">

      <div class="content">

          <div class="left floated header">
            Mes contrats en cours
          </div>


        </div>


    </div>

     <div class="card">

       <div class="content">


          <div class="left floated header">
            Mes prochains prélèvements
          </div>

        </div>

    </div>

     <div class="card">

       <div class="content">

          <div class="left floated header">
            Evolution de mon patrimoine
          </div>


        </div>

    </div>

     <div class="card">

       <div class="content">

          <div class="left floated header">
            Analyse de mon patrimoine
          </div>


        </div>

    </div>

     <div class="card">

       <div class="content">

         <div class="left floated header">

          Documents / contrats

          </div>

        </div>

    </div>

     <div class="card">

       <div class="content">

         <div class="left floated header">

              Mes ajouts récents

          </div>


        </div>

    </div>

     <div class="card">

        <div class="content">


        </div>

    </div>






  </div>
