.ui.segment {
  box-shadow: -5px -5px 5px #008080;
  -webkit-transition: all 2s;
  transition: all 2s;
  transition-timing-function: ease-in;
}

.heightmodif {
  height : 200px;
}

.get_started {
    position : fixed;
    bottom: 5px;
    right: 663px;
    margin: auto;
    z-index:10;
}

.get_started:hover {
  color : purple;
}

.chevron.up {
  margin-top:50px;
}

body {
  height : 95px;
}
